<template>
<!-- :data-aos="(job.id % 2 === 0 ? 'slide-right' : 'slide-left')" -->
  <div 
    class="flex flex-col rounded-lg shadow-lg overflow-hidden cursor-pointer snap-start" 
    :class="(job.cardType === 'app' ? 'hover:shadow-outline-indigo focus:shadow-outline-indigo' : 'hover:shadow-outline-green focus:shadow-outline-green')"
    @click="toggle"
    :data-aos="(job.id % 2 === 0 ? 'zoom-up-right' : 'zoom-up-left')"
    :data-aos-delay="((job.id % 10) * 50)"
  >
    <div class="flex-shrink-0">
      <img class="h-48 w-full object-cover" :class="imgPositionClass" :src="job.imgUrl" alt="">
    </div>
    <div class="flex-1 bg-white p-6 flex flex-col justify-between">
      <div class="flex-1">
        <p class="text-sm leading-5 font-medium" :class="(job.cardType === 'app' ? 'text-indigo-600' : 'text-green-600')">
          <!-- <a href="#" class="hover:underline"> -->
            {{ job.cardType }}
          <!-- </a> -->
        </p>
        <a href="#" class="block">
          <h3 class="mt-2 text-xl leading-6 font-semibold text-gray-900 lowercase">
            {{ job.title }}
          </h3>
          <p class="mt-5 text-lg leading-7 sm:leading-7 text-gray-500" v-html="job.shortMsg">
          </p>
        </a>
      </div>
      <div class="mt-10 sm:flex sm:justify-between sm:items-end">
        <div class="sm:flex flex-shrink-0">
          <!-- <a href="#"> -->
            <img class="h-32 w-32 sm:h-20 sm:w-20 rounded-full" :src="job.logoUrl" alt="">
          <!-- </a> -->
        </div>
        <!-- <div class="mt-5 ml-0 flex items-end justify-end leading-5 sm:mt-0 md:ml-8 flex-wrap"> -->
          <div class="mt-5 sm:mt-0 grid grid-cols-2 gap-2 grid-flow-row">
            <div 
              class="mt-2 pl-4 flex items-center text-sm sm:text-xs leading-5 justify-start text-gray-500 sm:mt-0" 
              v-for="tag in job.tags" 
              :key="tag.id"
            >
              <div v-html="tag.svg"></div>
              {{ tag.txt }}
            </div>
          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</template>

<script>
import { computed } from 'vue'
// import AOS from 'aos'
// import 'aos/dist/aos.css'

export default {
  name: 'JobCard',
  props: {
    job: Object,
  },
  emits: ['toggle'],
  setup (props, { emit }) {
    // AOS.init({
    //   // once: true,
    //   // useClassNames: true,
    //   // initClassName: false,
    //   // animatedClassName: 'animate-spin',
    //   // disable: 'phone',
    //   easing: 'ease-in-out',
    //   mirror: true,
    // });

    const toggle = () => { emit('toggle') }
    let imgPositionClass = computed(() => {
      return (props.job.imgPosition && props.job.imgPosition.includes('top') ? 'object-top' : '') 
        + (props.job.imgPosition && props.job.imgPosition.includes('bottom') ? ' object-bottom' : '');
    })

    // const test = () => (console.log('test'))

    return {
      toggle,
      imgPositionClass,
      // test,
    }
  },
  // computed: {
  //   imgPositionClass: function() {
  //     return (this.job.imgPosition && this.job.imgPosition.includes('top') ? 'object-top' : '') 
  //       + (this.job.imgPosition && this.job.imgPosition.includes('bottom') ? ' object-bottom' : '');
  //   }
  // },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
