<template>
    
  <div 
    class="fixed inset-0 overflow-hidden overscroll-contain" 
    v-show="opened"
    ref="myslideover"
  >
  <!-- <div class="fixed inset-0 overflow-hidden"> -->
    <div class="absolute inset-0 overflow-hidden overscroll-contain body-scroll-lock-ignore">
      <!--
        Background overlay, show/hide based on slide-over state.

        Entering: "ease-in-out duration-500"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "ease-in-out duration-500"
          From: "opacity-100"
          To: "opacity-0"
      -->
      <transition
        enter-active-class="ease-in-out duration-500"
        enter-from-class="opacity-0"
        enter-to-class="opacity-100"
        leave-active-class="ease-in-out duration-500"
        leave-from-class="opacity-100"
        leave-to-class="opacity-0"
      >
        <div 
          class="absolute inset-0 bg-gray-500 bg-opacity-75 transition-opacity" 
          @click="toggle"
        ></div>
      </transition>

      <section class="absolute inset-y-0 right-0 pl-10 max-w-full flex">
        <!--
          Slide-over panel, show/hide based on slide-over state.

          Entering: "transform transition ease-in-out duration-500 sm:duration-700"
            From: "translate-x-full"
            To: "translate-x-0"
          Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
            From: "translate-x-0"
            To: "translate-x-full"
        -->
        <transition
          enter-active-class="transform transition ease-in-out duration-500 sm:duration-700"
          enter-from-class="translate-x-full"
          enter-to-class="translate-x-0"
          leave-active-class="transform transition ease-in-out duration-500 sm:duration-700"
          leave-from-class="translate-x-0"
          leave-to-class="translate-x-full"
        >
          <div 
            class="w-screen max-w-2xl"
          >

            <div class="h-full divide-y divide-gray-200 flex flex-col bg-white shadow-xl">

              <div 
                class="h-0 flex-1 space-y-6 overflow-y-scroll" 
                ref="infoContainer"
              >

                <header 
                  class="space-y-1 py-6 px-4 sm:px-6 transition duration-1000 ease-in-out" 
                  :class="(selectedJob.cardType === 'app' ? 'bg-indigo-700' : 'bg-green-700')"
                >
                  <div class="flex items-center justify-between space-x-3">
                    <h2 class="text-xl leading-7 font-medium text-white lowercase">
                      {{ selectedJob.title }}
                    </h2>
                    <div class="h-7 flex items-center">
                      <button 
                        aria-label="Close panel" 
                        class="text-indigo-200 hover:text-white hover:outline-none focus:text-white focus:outline-none transition ease-in-out duration-150"
                        @click="toggle"
                      >
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div>
                    <p 
                      class="text-base leading-5 lowercase"
                      :class="(selectedJob.cardType === 'app' ? 'text-indigo-200' : 'text-green-200')"
                    >
                      {{ selectedJob.cardType }}
                    </p>
                  </div>
                </header>

                
                <div 
                  class="relative flex-1 px-4 sm:px-6 py-8 space-y-16"                  
                >

                  <!-- content -->
                  
                  <div 
                    class="max-h-full border-l-4 pl-8 pr-4 pt-4 pb-4 rounded rounded-l-none shadow-xl text-base leading-7 sm:text-lg sm:leading-8"
                    :class="(selectedJob.cardType === 'app' ? 'border-indigo-100' : 'border-green-100')" 
                    v-html="selectedJob.msg"
                  ></div>

                  <div
                  >
                    <div class="flex-shrink-0">
                      <img 
                        class="max-h-full w-full object-cover rounded shadow-xl transition duration-1000 ease-in-out" 
                        :class="imgPositionClass" 
                        :src="selectedJob.imgUrl" 
                        alt="example image"
                      />
                    </div>
                    <div class="flex justify-end">
                      <a 
                        :href="selectedJob.siteUrl" 
                        target="_blank" 
                        class="mt-5 flex items-center text-xs text-gray-400"
                        :class="(selectedJob.cardType === 'app' ? 'hover:text-indigo-700 focus:text-indigo-700' : 'hover:text-green-700 focus:text-green-700')"
                      >
                        <svg class="flex-shrink-0 mr-1.5 h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                          <path d="M9.26 13a2 2 0 0 1 .01-2.01A3 3 0 0 0 9 5H5a3 3 0 0 0 0 6h.08a6.06 6.06 0 0 0 0 2H5A5 5 0 0 1 5 3h4a5 5 0 0 1 .26 10zm1.48-6a2 2 0 0 1-.01 2.01A3 3 0 0 0 11 15h4a3 3 0 0 0 0-6h-.08a6.06 6.06 0 0 0 0-2H15a5 5 0 0 1 0 10h-4a5 5 0 0 1-.26-10z"/>
                        </svg>
                        link
                      </a>
                    </div>
                  </div>


                  <div class="mt-10 sm:flex sm:justify-between sm:items-end">
                    <div class="sm:flex flex-shrink-0">
                      <img class="h-32 w-32 sm:h-20 sm:w-20 rounded-full" :src="selectedJob.logoUrl" alt="">
                    </div>
                    <div class="mt-5 sm:mt-0 grid grid-cols-2 gap-2 grid-flow-row">
                      <div 
                        class="mt-2 pl-4 flex items-center text-sm sm:text-xs leading-5 justify-start text-gray-500 sm:mt-0" 
                        v-for="tag in selectedJob.tags" 
                        :key="tag.id"
                      >
                        <div v-html="tag.svg"></div>
                        {{ tag.txt }}
                      </div>
                    </div>
                  </div>


                  <!-- /End content -->

                </div>
              </div>

              <div 
                class="flex-shrink-0 px-4 py-4 space-x-4 flex justify-between"
                :class="(selectedJob.cardType === 'app' ? 'bg-indigo-100' : 'bg-green-100')"
              >
                <span class="inline-flex rounded-md shadow-sm">
                  <button 
                    type="button" 
                    @click="prev"
                    v-show="(selectedJob.id > firstId)"
                    class="bg-gray-100 inline-flex items-center justify-center py-2 px-4 border border-gray-300 rounded-md text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out"
                  >
                    <svg class="-ml-0.5 mr-2 h-4 w-4" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M7 16l-4-4m0 0l4-4m-4 4h18"></path></svg>
                    Vorige
                  </button>
                </span>
                <span class="inline-flex rounded-md shadow-sm">
                  <button 
                    type="button" 
                    @click="next"
                    v-show="(selectedJob.id < lastId)"
                    class="inline-flex items-center justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white focus:outline-none transition duration-1000 ease-in-out"
                    :class="(selectedJob.cardType === 'app' ? 'bg-indigo-600 hover:bg-indigo-500 focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700' : 'bg-green-600 hover:bg-green-500 focus:border-green-700 focus:shadow-outline-green active:bg-green-500')"
                  >
                    Volgende
                    <svg class="ml-2 -mr-0.5 h-4 w-4" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                        <path d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                    </svg>
                  </button>
                </span>
              </div>

            </div>
            
          </div>
        </transition>

      </section>

    </div>
  </div>

</template>

<script>
import { nextTick, ref, computed } from 'vue'
import useKeydown from '../composables/use-keydown';
// import { disableBodyScroll, enableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock';

export default {
  name: 'SlideOver',
  props: {
    opened: Boolean,
    selectedJob: Object,
    firstId: Number,
    lastId: Number,
  },
  emits: ['toggle','prev','next'],
  setup (props, { emit }) {
    const myslideover = ref(null);

    useKeydown([
      {key: 'Escape', fn: () => { emit('toggle') }},
      {key: 'ArrowLeft', fn: () => { emit('prev') }},
      // {key: 'ArrowUp', fn: () => { emit('prev') }},
      {key: 'Enter', fn: () => { emit('next') }},
      {key: 'ArrowRight', fn: () => { emit('next') }},
      // {key: 'ArrowDown', fn: () => { emit('next') }},
    ])
    
    const toggle = () => { 
      emit('toggle') 
    }
    const infoContainer = ref(null);
    const prev = () => { 
      nextTick(() => {
          infoContainer.value.scrollTop = 0;
      });
      return emit('prev');
    }
    const next = () => { 
      nextTick(() => {
          infoContainer.value.scrollTop = 0;
      });
      return emit('next');
    }
    // const test = () => {
    //   return console.log('test')
    // }

    let imgPositionClass = computed(() => {
      return (props.selectedJob.imgPosition && props.selectedJob.imgPosition.includes('top') ? 'object-top' : '') 
        + (props.selectedJob.imgPosition && props.selectedJob.imgPosition.includes('bottom') ? ' object-bottom' : '');
    })

    // onUpdated(() => {
    //   if (props.opened) {
    //     disableBodyScroll(myslideover.value, {
    //       allowTouchMove: el => {
    //         while (el && el !== document.body) {
    //           if (el.getAttribute('body-scroll-lock-ignore') !== null) {
    //             return true;
    //           }

    //           el = el.parentNode;
    //         }
    //       },
    //     })
    //   } else {
    //     enableBodyScroll(myslideover.value)
    //     clearAllBodyScrollLocks(myslideover.value)
    //   }
    // })

    return {
      toggle,
      prev,
      next,
      imgPositionClass,
      infoContainer,
      myslideover,
      // test,
    }
  },
  // computed: {
  //   imgPositionClass: function() {
  //     return (this.selectedJob.imgPosition && this.selectedJob.imgPosition.includes('top') ? 'object-top' : '') 
  //       + (this.selectedJob.imgPosition && this.selectedJob.imgPosition.includes('bottom') ? ' object-bottom' : '');
  //   }
  // },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
