<template>
  <div id="app" class="">
  
    <Suspense>

      <template #default>

        <div 
          class="relative bg-gray-50 pt-16 px-4 sm:px-6 lg:pt-24 lg:px-8"
        >
          <div class="absolute inset-0">
            <div class="bg-white h-1/3 sm:h-2/3"></div>
          </div>
          <div class="relative max-w-7xl mx-auto">
              
            <div class="text-lg max-w-prose mx-auto mb-6 text-center">
              <p class="text-base text-center leading-6 text-indigo-600 font-semibold tracking-wide uppercase">
                Projecten
              </p>
              <h1 class="mt-2 mb-8 text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
                Bart Monbaliu
              </h1>
              <p class="text-xl text-gray-500 leading-8">
                Hieronder een aantal projecten waar ik aan heb gewerkt. Telkens met een korte beschrijving, visuele elementen en (waar mogelijk) een externe link.
              </p>
            </div>

            <Cards />
                
            <div 
              class="flex max-w-lg mx-auto lg:max-w-none py-16 md:py-24 items-center"
            >
              <div class="flex justify-between pt-4 space-x-16 mx-auto">
                <div
                  data-aos="zoom-up-right"
                  data-aos-delay="400"
                >
                  <svg                     
                    viewBox="0 0 888 651.93175"
                    class="h-16 w-16 md:h-24 md:w-24"
                  >
                      <title>design</title><ellipse cx="96.67947" cy="631.79284" rx="96.34841" ry="20.00677" fill="#e6e6e6"/><ellipse cx="55.07935" cy="143.65068" rx="33.21579" ry="31.11353" fill="#2f2e41"/><path d="M307.78357,461.51368l8.40906,11.77269s40.36349,8.40906,25.22718,21.02265-36.99987-11.77268-36.99987-11.77268L292.64725,467.4Z" transform="translate(-156 -124.03413)" fill="#ffb8b8"/><path d="M264.05644,327.8096s10.93178,0,13.4545,15.13631,5.04544,65.59068,5.04544,65.59068,35.31806,46.24984,29.43172,52.13618S299.3745,477.4909,295.17,475.80909s-40.36349-51.29528-40.36349-51.29528Z" transform="translate(-156 -124.03413)" fill="#e6e6e6"/><path d="M230.4202,284.92338s.8409,32.79534,10.93178,34.47716,6.72725,12.61359,6.72725,12.61359-32.79534,19.34084-54.65891,0l-4.20453-10.09087s15.13632-10.93178,8.40907-26.0681Z" transform="translate(-156 -124.03413)" fill="#ffb8b8"/><path d="M286.76091,486.74087s49.61347,92.49968,31.11353,121.09049S271.6246,695.2856,267.42007,695.2856s-27.74991-11.77269-26.06809-19.34084,26.909-63.90887,33.63624-68.95431,3.36363-18.49994,2.52272-19.34084-28.59081-45.40894-28.59081-45.40894.84091,70.63612-2.52272,81.5679.84091,89.13606-3.36362,92.49968-23.54537,9.25-26.909,4.20453-13.4545-81.5679-6.72725-99.22693L196.784,500.19537Z" transform="translate(-156 -124.03413)" fill="#2f2e41"/><path d="M241.352,711.26282l21.02265,38.68168s30.27262,21.86356,9.25,25.22719-33.63625-5.04544-33.63625-5.04544l-18.49993-13.4545V717.99007Z" transform="translate(-156 -124.03413)" fill="#2f2e41"/><path d="M269.94279,689.39926,259.011,715.46735s-4.20453,10.93178,0,13.4545,15.97721,17.659,8.40906,19.34084a24.638,24.638,0,0,1-4.62109.45938,46.72573,46.72573,0,0,1-33.97067-13.824l-6.81718-6.81718s23.352-53.7745,23.02825-53.37579S269.94279,689.39926,269.94279,689.39926Z" transform="translate(-156 -124.03413)" fill="#2f2e41"/><circle cx="53.39754" cy="152.4802" r="28.59081" fill="#ffb8b8"/><path d="M192.99987,316.45737l8.82952,8.82951s26.909,10.09087,39.52259,0c0,0-4.625-9.67042-4.625-8.82951s36.57942,6.30679,39.943,21.4431-2.52272,41.20441-2.52272,41.20441,23.54537,110.99961,14.2954,113.52233-95.8633,23.54537-95.0224,7.56816-6.72724-81.5679-6.72724-81.5679l-29.43172-56.34072s4.20453-18.49993,14.2954-24.38628S192.99987,316.45737,192.99987,316.45737Z" transform="translate(-156 -124.03413)" fill="#e6e6e6"/><path d="M230.4202,480.85452l10.93178,6.72725s42.04531,28.59081,20.18175,33.63625-34.47716-20.18175-34.47716-20.18175l-8.40906-10.09087Z" transform="translate(-156 -124.03413)" fill="#ffb8b8"/><path d="M168.19314,357.24131l-7.56816,7.56816s-5.04543,70.63612,5.04544,84.93152,56.34071,52.97709,58.86343,50.45438,18.49994-15.13632,15.13631-16.81813-48.08542-48.41048-48.08542-48.41048l3.5174-65.11185Z" transform="translate(-156 -124.03413)" opacity="0.1"/><path d="M164.82951,354.7186l-7.56815,7.56815s-5.04544,70.63612,5.04544,84.93153,56.34071,52.97709,58.86343,50.45437,18.49993-15.13631,15.13631-16.81813S188.22111,432.444,188.22111,432.444l3.5174-65.11185Z" transform="translate(-156 -124.03413)" fill="#e6e6e6"/><path d="M221.22207,235.90286s9.71878-3.5341,22.97166,3.97587l-7.0682,1.76705s10.6023.88352,11.92759,15.01993h-4.85939s3.09234,12.36935,0,15.90345l-1.98793-3.755L236.46288,280.3l-1.32528-5.74291-2.65058.88353-1.76705-9.277s-4.41763,6.62644-7.95173,7.0682v-5.74291s-9.71877,11.04406-12.81111,10.6023l4.41762-6.18467-6.18467,1.32528,2.65057-4.41762L194.9372,273.2318l3.5341-4.41762-11.04406,3.5341-5.30115,2.20881s-7.51-17.22874,3.09233-29.15633S211.28242,230.82259,221.22207,235.90286Z" transform="translate(-156 -124.03413)" fill="#2f2e41"/><rect x="221.8854" y="68.99099" width="643.86161" height="412.35762" fill="#e6e6e6"/><rect x="240.29648" y="120.71092" width="607.03946" height="336.24258" fill="#fff"/><rect x="221.61048" y="68.62598" width="643.86161" height="27.3536" fill="#6c63ff"/><circle cx="241.93748" cy="82.61059" r="5.06978" fill="#fff"/><circle cx="261.18109" cy="82.61059" r="5.06978" fill="#fff"/><circle cx="280.4247" cy="82.61059" r="5.06978" fill="#fff"/><rect x="295.45433" y="155.59882" width="155.98054" height="266.46676" fill="#e6e6e6"/><rect x="478.36009" y="155.59882" width="129.98379" height="73.34799" fill="#6c63ff"/><rect x="478.36009" y="249.37284" width="129.98379" height="78.91873" fill="#e6e6e6"/><rect x="478.36009" y="348.71759" width="129.98379" height="73.34799" fill="#e6e6e6"/><rect x="636.19754" y="155.59882" width="155.98054" height="116.12476" fill="#e6e6e6"/><rect x="636.19754" y="305.94083" width="155.98054" height="116.12476" fill="#6c63ff"/><polygon points="544.691 188.755 542.655 188.214 587.089 21.06 844.827 21.06 844.827 23.166 588.708 23.166 544.691 188.755" fill="#3f3d56"/><path d="M1021.88725,168.25962A22.11275,22.11275,0,1,1,1044,146.14687,22.13792,22.13792,0,0,1,1021.88725,168.25962Zm0-42.11952a20.00678,20.00678,0,1,0,20.00677,20.00677A20.02953,20.02953,0,0,0,1021.88725,126.1401Z" transform="translate(-156 -124.03413)" fill="#3f3d56"/><circle cx="865.88725" cy="22.11275" r="8.4239" fill="#6c63ff"/><polygon points="672.947 530.706 415.208 530.706 415.208 528.6 671.328 528.6 715.345 363.01 717.381 363.551 672.947 530.706" fill="#3f3d56"/><path d="M550.1486,675.79987a22.11275,22.11275,0,1,1,22.11275-22.11275A22.13792,22.13792,0,0,1,550.1486,675.79987Zm0-42.11952a20.00678,20.00678,0,1,0,20.00677,20.00677A20.02953,20.02953,0,0,0,550.1486,633.68035Z" transform="translate(-156 -124.03413)" fill="#3f3d56"/><circle cx="394.1486" cy="529.653" r="8.4239" fill="#6c63ff"/>        
                  </svg>
                  <div
                    class="text-purple-500 font-semibold tracking-wider text-center text-xs sm:text-sm pt-1"
                  >
                    design
                  </div>
                </div>
                <div
                  data-aos="zoom-up-right"
                  data-aos-delay="500"
                >
                  <svg                     
                    viewBox="0 0 1088 826.29361"
                    class="h-16 w-16 md:h-24 md:w-24"
                  >
                      <title>codeer</title>
                      <path d="M990.987,366.24078C943.16694,178.20138,777.93353,42.46323,583.98525,37.01889,481.45062,34.14063,373.55556,68.14681,295,187.14681c-140.42655,212.72536,8.62954,359.72511,112.5475,429.57647A650.24048,650.24048,0,0,1,541.94966,737.52349C612.14286,820.819,747.17857,924.32538,908,762.14681,1024.56358,644.59957,1022.83991,491.4936,990.987,366.24078Z" transform="translate(-56 -36.85319)" fill="#f2f2f2"/><polygon points="719.6 507.394 818 409.294 719.6 311.194 749.6 281.294 878 409.294 749.6 537.294 719.6 507.394 719.6 507.394" opacity="0.1"/><path d="M494.6,453.14681h40v-40h-40Zm200.8-40h-40v40h40Zm-120.4,40h40v-40H575Z" transform="translate(-56 -36.85319)" opacity="0.1"/><polygon points="384.4 506.394 285.9 408.294 384.3 310.194 354.3 280.294 226 408.294 354.4 536.294 384.4 506.394" opacity="0.1"/><path d="M1144,789.14681c0,16.56854-243.5571,74-544,74s-544-57.43146-544-74,243.5571,14,544,14S1144,772.57826,1144,789.14681Z" transform="translate(-56 -36.85319)" fill="#3f3d56"/><path d="M1144,789.14681c0,16.56854-243.5571,74-544,74s-544-57.43146-544-74,243.5571,14,544,14S1144,772.57826,1144,789.14681Z" transform="translate(-56 -36.85319)" opacity="0.1"/><ellipse cx="544" cy="752.29361" rx="544" ry="30" fill="#3f3d56"/><path d="M688.696,644.80629c0,64.01613,40.16035,115.81717,89.79084,115.81717" transform="translate(-56 -36.85319)" fill="#3f3d56"/><path d="M778.48684,760.62346c0-64.73541,44.81662-117.11849,100.20136-117.11849" transform="translate(-56 -36.85319)" fill="#6c63ff"/><path d="M721.22891,650.60946c0,60.80852,25.6095,110.014,57.25793,110.014" transform="translate(-56 -36.85319)" fill="#6c63ff"/><path d="M778.48684,760.62346c0-82.71747,51.801-149.6514,115.81716-149.6514" transform="translate(-56 -36.85319)" fill="#3f3d56"/><path d="M759.59716,761.44s12.73382-.39219,16.57147-3.12493,19.58782-5.99578,20.53985-1.61306,19.13656,21.79764,4.76014,21.9136-33.4044-2.23935-37.23467-4.57252S759.59716,761.44,759.59716,761.44Z" transform="translate(-56 -36.85319)" fill="#a8a8a8"/><path d="M801.72518,777.09c-14.37642.116-33.40439-2.23933-37.23466-4.57251-2.91695-1.77683-4.07933-8.15253-4.46825-11.094-.26935.01158-.42511.01657-.42511.01657s.80653,10.26992,4.63681,12.60309,22.85824,4.6885,37.23466,4.57251c4.1499-.03347,5.58335-1.50994,5.50464-3.69673C806.39675,776.24,804.814,777.065,801.72518,777.09Z" transform="translate(-56 -36.85319)" opacity="0.2"/><path d="M921.53291,419.70575s-30.78848-23.37612-33.12545-14.80723,22.59069,28.04361,22.59069,28.04361Z" transform="translate(-56 -36.85319)" fill="#ffb9b9"/><path d="M921.53291,419.70575s-30.78848-23.37612-33.12545-14.80723,22.59069,28.04361,22.59069,28.04361Z" transform="translate(-56 -36.85319)" opacity="0.1"/><path d="M1023.17262,345.69533s-36.6125,65.4351-37.39149,74.783-.779,10.12686-3.89495,9.34787-45.96037-5.45292-49.85532-3.89494-11.68484-9.34787-11.68484-9.34787-14.80079,14.80079-11.68484,17.91675S921.125,439.17405,922.683,443.069s3.89495,7.7899,10.90585,7.01091S988.1181,462.54373,994.35,460.20676s7.78989-6.23192,10.90585-6.23192,9.34787-3.11595,9.34787-3.89494,21.8117-42.06543,21.8117-42.06543S1062.12208,351.92724,1023.17262,345.69533Z" transform="translate(-56 -36.85319)" fill="#d0cde1"/><path d="M1023.17262,345.69533s-36.6125,65.4351-37.39149,74.783-.779,10.12686-3.89495,9.34787-45.96037-5.45292-49.85532-3.89494-11.68484-9.34787-11.68484-9.34787-14.80079,14.80079-11.68484,17.91675S921.125,439.17405,922.683,443.069s3.89495,7.7899,10.90585,7.01091S988.1181,462.54373,994.35,460.20676s7.78989-6.23192,10.90585-6.23192,9.34787-3.11595,9.34787-3.89494,21.8117-42.06543,21.8117-42.06543S1062.12208,351.92724,1023.17262,345.69533Z" transform="translate(-56 -36.85319)" opacity="0.1"/><path d="M970.05372,302.55716a64.78949,64.78949,0,0,0,.19963,12.41994c1.18318,8.94979,5.30311,18.279,1.41138,26.63316-1.41259,3.03233-3.80585,5.67452-5.10925,8.7433-2.7592,6.49636-.25777,13.70176-.63281,20.61595-.48448,8.93161-6.16516,17.538-14.80657,22.43244,14.76344.45865,28.80366-6.84077,38.09315-16.7876s14.46277-22.28423,18.34107-34.628a75.2815,75.2815,0,0,0,3.805-17.92219,25.83489,25.83489,0,0,0-1.2085-10.38585,39.57451,39.57451,0,0,0-5.3421-9.12325c-2.32605-3.27044-4.716-6.60515-8.14786-9.03848-4.227-2.99707-12.37788-6.00629-17.98536-5.57014C971.79334,290.48142,970.34315,297.78336,970.05372,302.55716Z" transform="translate(-56 -36.85319)" fill="#2f2e41"/><path d="M992.792,326.99958s8.56888,30.38059,1.558,38.94947,42.06542-3.89495,42.06542-3.89495-24.14867-24.14867-12.46383-39.72845Z" transform="translate(-56 -36.85319)" fill="#ffb9b9"/><path d="M992.792,326.99958s8.56888,30.38059,1.558,38.94947,42.06542-3.89495,42.06542-3.89495-24.14867-24.14867-12.46383-39.72845Z" transform="translate(-56 -36.85319)" opacity="0.1"/><polygon points="719.6 488.394 818 390.294 719.6 292.194 749.6 262.294 878 390.294 749.6 518.294 719.6 488.394 719.6 488.394" fill="#6c63ff"/><polygon points="908.748 695.221 908.748 717.812 920.433 731.833 930.56 727.159 927.444 694.442 908.748 695.221" fill="#ffb9b9"/><path d="M969.42235,753.10675s-3.116-10.90585-8.56888-3.116-10.90585,24.92766-14.02181,25.70665-24.92766,24.92766-3.116,24.92766,28.82261-10.12686,28.82261-10.12686,21.8117-8.56889,21.8117-10.12687-3.116-30.38058-4.67394-30.38058-2.337,5.45293-6.23191,5.45293S969.42235,753.10675,969.42235,753.10675Z" transform="translate(-56 -36.85319)" fill="#2f2e41"/><polygon points="960.941 699.116 960.162 720.149 978.857 727.938 978.857 697.558 960.941 699.116" fill="#ffb9b9"/><path d="M1037.19442,757.00169s-10.12686-10.90585-15.57978-8.56888a53.81171,53.81171,0,0,0-7.7899,3.89495s-3.11595,10.12686-4.67393,18.69574-2.337,12.46383-3.89495,15.57979-3.116,14.8008,12.46383,16.35878,20.25372-7.01091,20.25372-7.01091l3.89495-20.25372S1040.31038,757.00169,1037.19442,757.00169Z" transform="translate(-56 -36.85319)" fill="#2f2e41"/><path d="M974.87528,511.62005s-22.59069,50.63431-19.47474,96.59468c0,0-7.78989,17.91676-3.11595,45.96037S963.19044,738.306,963.19044,738.306s21.03271,2.337,22.59069-1.558c0,0,1.558-38.94946,3.11595-40.50744s-.779-37.39149-3.11595-44.4024,21.8117-76.341,21.8117-76.341l-6.23192-86.46782Z" transform="translate(-56 -36.85319)" fill="#2f2e41"/><path d="M974.87528,511.62005s-22.59069,50.63431-19.47474,96.59468c0,0-7.78989,17.91676-3.11595,45.96037S963.19044,738.306,963.19044,738.306s21.03271,2.337,22.59069-1.558c0,0,1.558-38.94946,3.11595-40.50744s-.779-37.39149-3.11595-44.4024,21.8117-76.341,21.8117-76.341l-6.23192-86.46782Z" transform="translate(-56 -36.85319)" opacity="0.1"/><path d="M968.64336,508.5041l14.8008,31.93856s7.0109,72.446,10.90585,81.79388c0,0,1.558,26.48564,8.56888,35.05452s12.46383,84.13085,12.46383,84.13085,19.47474,5.45292,21.03271,0,6.23192-42.84442,6.23192-42.84442,1.558-31.93856-7.01091-52.97127,10.12687-96.59468,10.12687-96.59468,19.47473-36.6125-8.56889-66.21409Z" transform="translate(-56 -36.85319)" fill="#2f2e41"/><circle cx="953.9298" cy="267.5557" r="31.93856" fill="#ffb9b9"/><path d="M1039.53139,352.70623s-33.49654,0-38.17048,3.89495a6.2148,6.2148,0,0,1-8.56888,0s-11.68484.779-14.8008,10.12686-12.46383,21.8117-12.46383,21.8117-14.0218,10.12686-6.23191,36.6125,1.558,69.33,1.558,69.33-6.23192,9.34787,0,13.24282,8.56888,5.45292,7.78989,8.56888,70.888-25.70665,70.888-31.15957-1.558-10.12686,0-12.46383,3.116-6.23192,1.558-10.12686,1.558-4.67394.779-8.56889,3.895-32.71755,7.0109-45.18138S1051.21623,353.48522,1039.53139,352.70623Z" transform="translate(-56 -36.85319)" fill="#d0cde1"/><path d="M921.53291,429.05362s-30.78848-23.37611-33.12545-14.80723S910.99815,442.29,910.99815,442.29Z" transform="translate(-56 -36.85319)" fill="#ffb9b9"/><path d="M1023.17262,356.60118s-36.6125,65.4351-37.39149,74.783-.779,10.12686-3.89495,9.34788-45.96037-5.45293-49.85532-3.89495-11.68484-9.34787-11.68484-9.34787S905.54523,442.29,908.66118,445.406s12.46383,4.67394,14.02181,8.56888,3.89495,7.7899,10.90585,7.01091S988.1181,473.44958,994.35,471.11261s7.78989-6.23192,10.90585-6.23192,9.34787-3.11595,9.34787-3.89494,21.8117-42.06543,21.8117-42.06543S1062.12208,362.83309,1023.17262,356.60118Z" transform="translate(-56 -36.85319)" fill="#d0cde1"/><path d="M994.11433,324.81412c-.44276-3.16315-2.06273-6.03281-2.89375-9.1168a18.92542,18.92542,0,0,1,2.15464-14.69554c4.58114-7.39921,13.57543-10.67633,19.8481-16.70863.13,3.07271,2.26209,5.69857,4.61867,7.67467s5.0595,3.57914,7.05494,5.91937a23.18422,23.18422,0,0,1,4.109,8.32352,29.24582,29.24582,0,0,1,1.62312,10.917,13.68907,13.68907,0,0,1-4.73071,9.702c-2.33628,1.84647-5.601,2.901-6.72979,5.65669a9.64383,9.64383,0,0,0-.37513,4.26987c.53486,8.57042,1.03463,17.29348-.98353,25.64005s-6.96258,16.41045-14.71162,20.11053c6.368.45177,12.87041.89222,19.04877-.71525s12.08706-5.65526,14.21717-11.67346c1.05082-2.96888,1.15021-6.27088,2.64328-9.04382,3.779-7.01837,14.214-7.33837,19.34-13.44269,2.05133-2.44284,3.0437-5.59074,3.77926-8.69468,4.32826-18.26461,1.28722-37.65876-5.30174-55.23474-2.27105-6.058-5.09851-12.15764-9.9697-16.41543-4.14514-3.62317-9.43855-5.61944-14.67334-7.32431-7.63963-2.48808-15.50959-4.52657-23.53987-4.78936a29.89721,29.89721,0,0,0-10.33347,1.20642,30.722,30.722,0,0,0-9.09193,5.17932c-12.57933,9.788-21.1439,25.43159-20.00738,41.32979.68769,9.61973,4.76363,18.72357,9.99979,26.82267,1.83133,2.83263,6.15833,8.87262,10.18007,7.09154C993.03667,335.18749,994.59253,328.23048,994.11433,324.81412Z" transform="translate(-56 -36.85319)" fill="#2f2e41"/><path d="M494.6,434.14681h40v-40h-40Zm200.8-40h-40v40h40Zm-120.4,40h40v-40H575Z" transform="translate(-56 -36.85319)" fill="#6c63ff"/><ellipse cx="206.20587" cy="211.8387" rx="33.6569" ry="26.25238" fill="#2f2e41"/><path d="M267.92755,429.42945s30.29121,2.01941,35.67631-2.01942,28.2718,5.38511,30.29121,10.77021-32.31062,6.05824-37.69573,6.05824-30.96435,8.07766-30.96435,8.07766Z" transform="translate(-56 -36.85319)" fill="#a0616a"/><path d="M205.55224,742.99151s-14.117,35.59927-6.75158,39.89573,84.70171,1.22756,84.70171,1.22756,12.88939-7.97914-1.84134-13.50317c0,0-12.27561-.61378-20.25476-5.524s-17.18585-14.117-17.18585-14.117-.61378-13.50317-5.524-10.43426a12.61392,12.61392,0,0,0-5.524,8.59292Z" transform="translate(-56 -36.85319)" fill="#2f2e41"/><path d="M205.55224,742.99151s-14.117,35.59927-6.75158,39.89573,84.70171,1.22756,84.70171,1.22756,12.88939-7.97914-1.84134-13.50317c0,0-12.27561-.61378-20.25476-5.524s-17.18585-14.117-17.18585-14.117-.61378-13.50317-5.524-10.43426a12.61392,12.61392,0,0,0-5.524,8.59292Z" transform="translate(-56 -36.85319)" opacity="0.1"/><polygon points="384.4 487.394 285.9 389.294 384.3 291.194 354.3 261.294 226 389.294 354.4 517.294 384.4 487.394" fill="#6c63ff"/><path d="M183.7853,753.882s-15.48218,39.042-7.40452,43.754,92.893,1.34628,92.893,1.34628,14.1359-8.7508-2.01941-14.809c0,0-13.46276-.67314-22.21356-6.05824S226.193,762.63276,226.193,762.63276s-.67314-14.809-6.05824-11.44335a13.83376,13.83376,0,0,0-6.05824,9.42393Z" transform="translate(-56 -36.85319)" fill="#2f2e41"/><path d="M263.21558,506.16718l-9.42393,84.81539s-3.36569,40.38828-13.46276,49.13907c0,0,0,12.78962-3.36569,16.82845l-4.712,53.1779s6.73138,19.521,6.05824,22.88669,2.69256,14.1359,2.01942,15.48218-32.31063,0-32.31063,0l6.73138-108.37522,20.86728-150.78291Z" transform="translate(-56 -36.85319)" fill="#2f2e41"/><path d="M263.21558,506.16718l-9.42393,84.81539s-3.36569,40.38828-13.46276,49.13907c0,0,0,12.78962-3.36569,16.82845l-4.712,53.1779s6.73138,19.521,6.05824,22.88669,2.69256,14.1359,2.01942,15.48218-32.31063,0-32.31063,0l6.73138-108.37522,20.86728-150.78291Z" transform="translate(-56 -36.85319)" opacity="0.1"/><path d="M246.38713,503.47463s-7.40452,69.33321-10.77021,84.14225a191.45128,191.45128,0,0,0-4.03883,29.61807s-.67313,21.54041-6.73138,27.59866a18.194,18.194,0,0,0-5.3851,13.46276s-6.05824,67.98693-2.69255,76.06459,6.73138,14.809,3.36569,20.19414-40.38828,5.3851-40.38828,1.34628,0-7.40452-2.01942-9.42394,0-14.809,0-14.809-8.07765-59.90928-.67313-77.41087,10.7702-65.29439,10.7702-65.29439-5.3851-54.52418-12.11648-63.275,1.34628-39.71514,1.34628-39.71514Z" transform="translate(-56 -36.85319)" fill="#2f2e41"/><path d="M227.43564,288.1652c.78254,1.78268,2.65563,2.77523,4.36085,3.71467,9.88293,5.4447,18.15564,13.33867,26.30611,21.14167a30.88184,30.88184,0,0,1,1.22533-20.88436c.97311-2.25349,2.24854-4.67575,1.553-7.02976-.51152-1.73109-1.98559-2.97969-3.41344-4.084a105.83513,105.83513,0,0,0-10.40969-7.10206c-2.52042-1.50791-7.7023-5.52207-10.59458-5.08531-.15184,3.90788-.23113,7.40176-1.94245,11.05414C234.11479,280.75653,227.73479,288.84669,227.43564,288.1652Z" transform="translate(-56 -36.85319)" fill="#a0616a"/><circle cx="205.8693" cy="232.36941" r="27.59866" fill="#a0616a"/><path d="M263.21558,334.517s4.712-23.55983-8.75079-31.63749-28.94494-17.50159-28.94494-17.50159-4.712-.67313-6.73138,9.42394c0,0-38.36886,7.40451-42.40769,43.754s2.69255,89.52735,2.69255,89.52735-6.05824,46.44652-13.46276,71.35263c0,0-6.05824,5.3851,20.86728-2.69255S260.523,519.62994,260.523,519.62994s4.712-4.712,4.712-8.07766,5.38511-22.88669,5.38511-22.88669,4.712-82.796,6.73138-92.21991S269.27382,335.86326,263.21558,334.517Z" transform="translate(-56 -36.85319)" fill="#575a89"/><path d="M255.365,272.0658a11.50929,11.50929,0,0,1,5.41275-1.44156,10.30066,10.30066,0,0,0,5.35434-1.59542c2.607-2.00142,2.79823-5.86932,4.70539-8.54606,2.76117-3.87534,8.2695-4.34179,13.02393-4.14789,2.908.11859,6.03964.29225,8.48843-1.28058,2.5139-1.61465,3.65338-4.65693,4.501-7.52194,1.00241-3.38806,1.65075-7.53139-.83318-10.04413-1.72489-1.7449-4.44757-2.09-6.36371-3.62242-1.98677-1.5889-2.80432-4.17476-3.88425-6.47815a17.50685,17.50685,0,0,0-5.63735-7.06119c-3.61468-2.51149-8.23146-3.07467-12.63275-3.0276s-8.82105.62578-13.18933.08567c-3.579-.44252-7.14744-1.633-10.71484-1.10534-4.5458.67239-8.30654,4.10189-10.54644,8.11427s-3.201,8.59226-4.133,13.092l-2.53464,12.23819c-.78614,3.79576-1.57551,7.6924-.96866,11.52091,1.258,7.93655,8.27687,14.24507,8.76049,22.26613a13.66856,13.66856,0,0,1,8.343-9.92064,2.61085,2.61085,0,0,1,1.69982-.2062c.69733.22289,1.1049.91957,1.545,1.50462,1.15307,1.53294,4.77533,3.85871,6.8286,2.77123C254.42675,276.6867,253.0552,273.6323,255.365,272.0658Z" transform="translate(-56 -36.85319)" fill="#2f2e41"/><path d="M185.80471,397.792s-4.712,29.61807,14.809,26.92552c0,0,10.09707-1.34628,11.44334,0s51.15849-7.40452,57.88987-14.809c0,0,8.07766-2.69255,12.11648,1.34628s44.42711,8.07766,32.31063-4.03883-30.96435-14.809-30.96435-14.809l-25.57924,1.34627s-13.46276,4.03883-21.54042,0-30.96435-2.69255-30.96435-2.69255Z" transform="translate(-56 -36.85319)" fill="#a0616a"/><path d="M213.40337,304.22578s-30.29121,3.36569-30.29121,47.11966v55.87045s16.82845-7.40452,20.19414-6.73138,16.82845-8.75079,16.82845-8.75079,15.48217-36.34945,14.1359-46.44652S233.59751,305.57205,213.40337,304.22578Z" transform="translate(-56 -36.85319)" fill="#575a89"/><ellipse cx="205.8693" cy="215.20439" rx="25.91581" ry="13.46276" fill="#2f2e41"/><ellipse cx="181.63634" cy="217.56037" rx="9.08736" ry="22.55012" fill="#2f2e41"/>
                  </svg>
                  <div
                    class="text-purple-500 font-semibold tracking-wider text-center text-xs sm:text-sm pt-1"
                  >
                    codeer
                  </div>
                </div>
                <div
                  data-aos="zoom-up-right"
                  data-aos-delay="600"
                >
                  <svg                     
                    viewBox="0 0 1140.56 787.27"
                    class="h-16 w-16 md:h-24 md:w-24"
                  >
                    <defs><linearGradient id="c518dc33-18b9-48bc-b516-0f83ad79191e" x1="852.39" y1="835.88" x2="852.39" y2="338.33" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="gray" stop-opacity="0.25"/><stop offset="0.54" stop-color="gray" stop-opacity="0.12"/><stop offset="1" stop-color="gray" stop-opacity="0.1"/></linearGradient></defs>
                    <title>lanceer</title>
                    <path d="M38.48,470.82c20.16-32.93,65.75-27.19,98.08-10s64.59,42.85,100.17,37.92c30-4.16,54.6-30.32,67.89-60.5s17.19-64.21,20.93-97.54Q332.6,277.89,339.64,215c1.72-15.33,3.75-31.51,12.37-43.64,11.39-16,32.27-20.92,50.13-16.11s33.09,17.71,46.12,32.1C490,233.43,513.65,295.72,550.14,347c7.43,10.44,15.82,20.76,26.92,25.8,16,7.25,34.37,2.12,50-5.95,51-26.29,85.26-79.94,118.93-130,16.38-24.33,36.35-50.35,63.6-53C838.26,181,863.15,205.43,880,231.3c54.08,83.24,65.67,196.88,131,269.48,8.11,9,17.06,17.32,27.37,22.91a70.65,70.65,0,0,0,10.6,4.65c57,19.73,76,98.93,33.84,145.89-.91,1-1.84,2-2.78,3-6.26,6.61-13.35,12.86-21.81,14.83-7.87,1.82-16-.28-23.8-2.55-49.86-14.55-99.12-36.79-150.67-35.71-50.16,1-97.74,24.17-147.34,32.51-33.35,5.61-67.28,4.49-101,3.28q-168.46-6.06-336.85-14.1c-55.72-2.56-111.46-5-167.17-7.85-42.92-2.23-70.26-7.14-75.24-56.95C51.79,567.07,12.63,513.06,38.48,470.82Z" transform="translate(-29.72 -56.36)" fill="#6c63ff" opacity="0.1"/><ellipse cx="789.9" cy="749.54" rx="269.99" ry="37.73" fill="#30374e"/><path d="M178.46,643.13s13.2-3,21.85,5.87c0,0-5.56,5-18.64-.54Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M177,643s-7.82,11.08-2.86,22.45c0,0,6.76-3.25,6.57-17.45Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M168.2,626.3s4.69-10.15,27,2.12c0,0-2.4,6.78-11.88,6.88S171,631.29,168.2,626.3Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M166.78,625.68s-11.17-.52-10.54,24.92c0,0,7.13,1,11.58-7.38S169.91,630.51,166.78,625.68Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M159,605.88S164,588.2,187.47,599c0,0-4.1,16.19-25.8,12.64Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M150.29,580.54s10.58-18.24,32.49-3.44c0,0-6.19,16.87-30.29,9.55Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M146.15,556.14s12.63-16.95,34.36-2.31c0,0-12.06,14.94-34.09,6.4Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M142.41,532.42s12.76-17.66,33.59-3.15c0,0-14.68,15.83-33.33,7.07Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M142.23,511.16s13.15-22.53,32.65-9.17c0,0-14.42,19.57-32.37,13.26Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M144,486.18S158,463.78,177.09,479c0,0-17.1,19.75-32.87,11.15Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M147.63,463.72s17-21.31,33.55-14.37c0,0-17.68,22.6-34,19.76Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M152.63,442.32s19.54-26,32.37-18.62c0,0-14.31,20.09-33.58,23.35Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M160.25,417.38s17.17-21.32,31-17.24c0,0-14.45,21.89-33.1,23.68Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M167.1,394.07s19.18-20.6,28.31-17.82c0,0-13.35,22.36-28.92,22.15Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M173.87,372.51s16.09-24.15,25.82-23c0,0-9.31,21.19-25.66,25.33Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M180.86,343.6s14.39-18.66,22.81-19.18c0,0-10.71,24.34-23.07,25Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M184.86,324.39l12.58-37.69s3,33.1-14,44.62Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M188.25,283.53s.44-30.79-1.33-33.17c0,0,12.47,24.74,2.14,46.71Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M158.36,605.51s-16.26-8.62-24.77,15.73c0,0,14.5,8.28,27-9.81Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M149.72,579.59s-19.72-7.45-27.35,17.88c0,0,15.47,9.15,29.51-11.76Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M145.36,557.67S130.57,542.56,111,560c0,0,13.94,13.19,34.63,1.79Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M141.94,532.46s-15-15.81-33.71,1.36c0,0,16.66,13.73,34,2.55Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M142.27,511.76s-11.36-23.47-31.83-11.67c0,0,12.86,20.63,31.24,15.74Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M145.17,486s-11.33-23.9-32.06-11.07c0,0,14.66,21.61,31.34,14.93Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M149.7,463.7s-5.64-26.65-23.55-27.87c0,0,5.68,28.13,21.51,32.88Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M153.09,442.34s-3.67-32.31-18.46-32.46c0,0,2.15,24.57,17.11,37.15Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M161.72,416.35s-6.21-26.66-20.47-29c0,0,3.5,26,19.53,35.72Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M168.78,394.15s-2-28.07-10.9-31.62c0,0-3.61,25.78,8.65,35.38Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M174.51,372.16s-3.15-28.85-12.31-32.32c0,0-1.5,23.09,11.1,34.3Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M182.26,345.82s-1.64-23.51-8.35-28.61c0,0-4.58,26.19,5.35,33.56Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M184,323.28l-8.8-38.74s-6.23,32.64,9.57,45.78Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M182.63,284.28S165,259,165.14,256.06c0,0,3.54,27.48,24.41,39.89Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M184,276.39s-17.46-36.39-24.43-39c0,0,22.09,9.43,25.61,37.8Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M180.54,349.61l-1-.25c9.85-42,11.24-68.48,3.9-74.56l.68-.82C191.86,280.42,190.64,306.58,180.54,349.61Z" transform="translate(-29.72 -56.36)" fill="#444053"/><path d="M152.26,448.27l-1.55-.43c1.09-3.86,2.27-7.79,3.53-11.66,11-33.72,20.14-65,25.75-88.94l1.27-.75c-5.62,24-14.51,56.43-25.49,90.18C154.52,440.53,153.34,444.43,152.26,448.27Z" transform="translate(-29.72 -56.36)" fill="#444053"/><path d="M199.31,672.67c-.22-.21-22.22-21.87-39.12-60.24a232.37,232.37,0,0,1-18.61-70.77c-3-30.53,1.1-65.13,10-96.9l1.28,1.32c-20,71.31-6.19,130.34,9.23,165.4,16.73,38,38.48,59.45,38.7,59.66Z" transform="translate(-29.72 -56.36)" fill="#444053"/><path d="M223.53,558.46s8-1.83,13.22,3.55c0,0-3.37,3-11.27-.33Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M222.66,558.39s-4.72,6.7-1.72,13.57c0,0,4.08-2,4-10.55Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M217.34,548.28s2.83-6.13,16.3,1.29c0,0-1.45,4.09-7.18,4.15S219.05,551.3,217.34,548.28Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M216.48,547.91s-6.76-.31-6.38,15.06c0,0,4.31.6,7-4.46S218.37,550.83,216.48,547.91Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M211.75,535.94s3.07-10.69,17.23-4.18c0,0-2.47,9.79-15.59,7.64Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M206.51,520.62s6.39-11,19.64-2.08c0,0-3.75,10.2-18.31,5.77Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M204,505.87s7.64-10.25,20.77-1.4c0,0-7.28,9-20.6,3.87Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M201.74,491.53s7.72-10.68,20.31-1.9c0,0-8.87,9.57-20.15,4.27Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M201.64,478.67s8-13.61,19.73-5.54c0,0-8.72,11.83-19.57,8Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M202.68,463.58s8.49-13.55,20-4.38c0,0-10.34,11.94-19.88,6.74Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M204.9,450s10.27-12.88,20.28-8.68c0,0-10.69,13.66-20.53,11.94Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M207.92,437.06s11.81-15.71,19.57-11.26c0,0-8.65,12.15-20.3,14.12Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M212.53,422s10.38-12.89,18.76-10.42c0,0-8.73,13.23-20,14.31Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M216.67,407.89s11.59-12.45,17.11-10.77c0,0-8.06,13.51-17.48,13.39Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M220.76,394.86s9.73-14.6,15.61-13.92c0,0-5.62,12.81-15.51,15.32Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M225,377.38s8.7-11.28,13.79-11.6c0,0-6.48,14.72-13.95,15.09Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M227.41,365.76,235,343s1.8,20-8.49,27Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M229.46,341.06s.26-18.61-.81-20.05c0,0,7.54,14.95,1.29,28.24Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M211.38,535.72s-9.82-5.22-15,9.5c0,0,8.77,5,16.33-5.92Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M206.17,520s-11.93-4.5-16.54,10.81c0,0,9.35,5.53,17.84-7.1Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M203.52,506.79s-8.93-9.13-20.77,1.4c0,0,8.43,8,20.94,1.08Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M201.46,491.55s-9.07-9.55-20.38.83c0,0,10.07,8.29,20.54,1.54Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M201.66,479s-6.87-14.19-19.25-7.06c0,0,7.78,12.47,18.89,9.52Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M203.41,463.45S196.56,449,184,456.76c0,0,8.86,13.07,18.95,9Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M206.15,450s-3.41-16.12-14.24-16.85c0,0,3.43,17,13,19.87Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M208.2,437.07S206,417.54,197,417.44c0,0,1.3,14.86,10.34,22.47Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M213.41,421.36s-3.75-16.12-12.37-17.54c0,0,2.12,15.71,11.81,21.59Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M217.68,407.94s-1.23-17-6.58-19.12c0,0-2.19,15.59,5.22,21.39Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M221.15,394.64s-1.9-17.44-7.44-19.54c0,0-.91,14,6.71,20.74Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M225.83,378.72s-1-14.21-5-17.3c0,0-2.77,15.84,3.23,20.29Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M226.91,365.09l-5.32-23.42s-3.77,19.74,5.78,27.68Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M226.06,341.52s-10.65-15.27-10.57-17.06c0,0,2.13,16.61,14.75,24.11Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M226.86,336.74s-10.56-22-14.77-23.55c0,0,13.36,5.7,15.48,22.86Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M224.79,381l-.63-.15c6-25.39,6.8-41.4,2.36-45.07l.41-.5C231.64,339.18,230.9,355,224.79,381Z" transform="translate(-29.72 -56.36)" fill="#444053"/><path d="M207.7,440.66l-.94-.27c.66-2.33,1.38-4.7,2.14-7,6.63-20.39,12.17-39.3,15.56-53.77l.77-.46c-3.4,14.5-8.77,34.12-15.41,54.53C209.06,436,208.35,438.33,207.7,440.66Z" transform="translate(-29.72 -56.36)" fill="#444053"/><path d="M236.14,576.32c-.13-.13-13.43-13.22-23.65-36.42a140.72,140.72,0,0,1-11.25-42.78c-1.83-18.46.67-39.38,6.06-58.59l.77.8c-12.09,43.11-3.74,78.8,5.58,100,10.12,23,23.26,35.93,23.4,36.06Z" transform="translate(-29.72 -56.36)" fill="#444053"/><path d="M266.22,626.32a38.24,38.24,0,0,0-7.5,2.14C204.78,650,205.68,791,205.68,791H189.8s-5-60.51-26.79-146.84c-19.63-77.67,60.88-147.28,77.23-160.48,1.84-1.47,2.86-2.25,2.86-2.25C324.19,511.23,266.22,626.32,266.22,626.32Z" transform="translate(-29.72 -56.36)" fill="#afc0e0"/><path d="M249,483.88c-1.87-.86-3.8-1.68-5.85-2.43,0,0-1,.78-2.86,2.25-16.35,13.2-96.86,82.81-77.23,160.48C184.85,730.51,189.8,791,189.8,791h8.93s-4.95-60.51-26.79-146.84C152.39,566.85,232.12,497.5,249,483.88Z" transform="translate(-29.72 -56.36)" fill="#fff" opacity="0.2"/><path d="M533.76,644.18C511.92,730.51,507,791,507,791H491.09s1-147.36-56.73-163.81a31.53,31.53,0,0,0-3.81-.89s-58-115.09,23.12-144.87c0,0,.82.61,2.3,1.8C471,495.26,553.61,565.61,533.76,644.18Z" transform="translate(-29.72 -56.36)" fill="#afc0e0"/><path d="M266.22,626.32a38.24,38.24,0,0,0-7.5,2.14A979.21,979.21,0,0,1,240.24,483.7c1.84-1.47,2.86-2.25,2.86-2.25C324.19,511.23,266.22,626.32,266.22,626.32Z" transform="translate(-29.72 -56.36)" opacity="0.1"/><path d="M456,483.25a901,901,0,0,1-21.61,144,31.53,31.53,0,0,0-3.81-.89s-58-115.09,23.12-144.87C453.67,481.45,454.49,482.06,456,483.25Z" transform="translate(-29.72 -56.36)" opacity="0.1"/><path d="M426.31,648.14q-8.4,33.14-19.69,68s-35.72,37.21-122,0c0,0-8.62-24.3-18.1-65.61-20.87-90.83-45.9-263.92,7.43-441.71A661.75,661.75,0,0,1,341.13,56.36s45.56,52.31,79,152.43S474.85,456.86,426.31,648.14Z" transform="translate(-29.72 -56.36)" fill="#e3e8f4"/><circle cx="318.66" cy="293.6" r="71.63" fill="#afc0e0"/><path d="M399.18,350a50.8,50.8,0,0,1-83,39.29,51.33,51.33,0,0,1-9.52-10.33,50,50,0,0,1-3.28-5.39A50.7,50.7,0,0,1,297.59,350c0-.41,0-.81,0-1.21a50.86,50.86,0,0,1,37-47.72,52.53,52.53,0,0,1,12.24-1.86h1.52A50.8,50.8,0,0,1,399.18,350Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M420.12,208.79c-81.27,38.91-146.22,0-146.22,0A661.75,661.75,0,0,1,341.13,56.36S386.69,108.67,420.12,208.79Z" transform="translate(-29.72 -56.36)" fill="#afc0e0"/><path d="M426.31,648.14q-5.7,22.44-12.7,45.65-3.32,11.07-7,22.32s-35.72,37.21-122,0c0,0-2.8-7.89-7-22.32-3.14-10.9-7.05-25.51-11.13-43.29,0,0,32.12,13.71,77.71,13.71A214.11,214.11,0,0,0,426.31,648.14Z" transform="translate(-29.72 -56.36)" fill="#afc0e0"/><path d="M413.61,693.79q-3.32,11.07-7,22.32s-35.72,37.21-122,0c0,0-2.8-7.89-7-22.32C277.6,693.79,365.54,719.09,413.61,693.79Z" transform="translate(-29.72 -56.36)" fill="#e3e8f4"/><path d="M334.62,301l-.11.08-36.9,47.64c0,.4,0,.8,0,1.21a50.7,50.7,0,0,0,5.79,23.57l43.48-74.36Z" transform="translate(-29.72 -56.36)" fill="#fff" opacity="0.2"/><path d="M346.4,344l-30.22,45.25a51.33,51.33,0,0,1-9.52-10.33l36-38.64Z" transform="translate(-29.72 -56.36)" fill="#fff" opacity="0.2"/><path d="M303.92,716.12s-8.62-24.31-18.1-65.61c-20.87-90.84-45.9-263.93,7.43-441.72A664.18,664.18,0,0,1,352.1,70.7c-6.77-9.49-11-14.33-11-14.33A661.68,661.68,0,0,0,273.9,208.79c-53.33,177.79-28.3,350.88-7.43,441.72,9.48,41.3,18.1,65.61,18.1,65.61,34.09,14.69,60.28,17.77,79.5,16.13C347.65,731,327.71,726.37,303.92,716.12Z" transform="translate(-29.72 -56.36)" fill="#fff" opacity="0.2"/><path d="M966.7,785.29s46.74-58.16,43.64-116.41a113.05,113.05,0,0,1,18.54-69.06,190.19,190.19,0,0,1,22-27" transform="translate(-29.72 -56.36)" fill="none" stroke="#535461" stroke-miterlimit="10" stroke-width="2"/><path d="M1049.11,536.14c-3.34,8.11,1.66,37.68,1.66,37.68s24.37-17.48,27.71-25.59a15.88,15.88,0,0,0-29.37-12.09Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M1006.33,571.08c1.61,8.62,21.88,30.72,21.88,30.72s11-27.91,9.35-36.54a15.88,15.88,0,0,0-31.23,5.82Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M975.79,648.3c5.74,6.63,34.4,15.48,34.4,15.48s-4.64-29.63-10.38-36.27a15.88,15.88,0,0,0-24,20.79Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M965.84,711.93c4.53,7.51,31.28,21.07,31.28,21.07s.44-30-4.09-37.5a15.88,15.88,0,1,0-27.19,16.43Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M1058.4,616.07c-8.14,3.25-37.66-2.05-37.66-2.05s17.72-24.19,25.87-27.45a15.88,15.88,0,0,1,11.79,29.5Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M1045.82,690.34c-8.74.67-35.32-13.22-35.32-13.22s24.14-17.79,32.89-18.46a15.89,15.89,0,0,1,2.43,31.68Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M1023.69,760.84c-8.51,2.14-37.05-7.06-37.05-7.06s20.79-21.61,29.3-23.74a15.88,15.88,0,1,1,7.75,30.8Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M1049.11,536.14c-3.34,8.11,1.66,37.68,1.66,37.68s24.37-17.48,27.71-25.59a15.88,15.88,0,0,0-29.37-12.09Z" transform="translate(-29.72 -56.36)" opacity="0.25"/><path d="M1006.33,571.08c1.61,8.62,21.88,30.72,21.88,30.72s11-27.91,9.35-36.54a15.88,15.88,0,0,0-31.23,5.82Z" transform="translate(-29.72 -56.36)" opacity="0.25"/><path d="M975.79,648.3c5.74,6.63,34.4,15.48,34.4,15.48s-4.64-29.63-10.38-36.27a15.88,15.88,0,0,0-24,20.79Z" transform="translate(-29.72 -56.36)" opacity="0.25"/><path d="M965.84,711.93c4.53,7.51,31.28,21.07,31.28,21.07s.44-30-4.09-37.5a15.88,15.88,0,1,0-27.19,16.43Z" transform="translate(-29.72 -56.36)" opacity="0.25"/><path d="M1058.4,616.07c-8.14,3.25-37.66-2.05-37.66-2.05s17.72-24.19,25.87-27.45a15.88,15.88,0,0,1,11.79,29.5Z" transform="translate(-29.72 -56.36)" opacity="0.25"/><path d="M1045.82,690.34c-8.74.67-35.32-13.22-35.32-13.22s24.14-17.79,32.89-18.46a15.89,15.89,0,0,1,2.43,31.68Z" transform="translate(-29.72 -56.36)" opacity="0.25"/><path d="M1023.69,760.84c-8.51,2.14-37.05-7.06-37.05-7.06s20.79-21.61,29.3-23.74a15.88,15.88,0,1,1,7.75,30.8Z" transform="translate(-29.72 -56.36)" opacity="0.25"/><path d="M967.12,782.86s66.3-34.24,87.07-88.74a113,113,0,0,1,44.94-55.63,189.91,189.91,0,0,1,31-15.76" transform="translate(-29.72 -56.36)" fill="none" stroke="#535461" stroke-miterlimit="10" stroke-width="2"/><path d="M1143.42,588.46c-6.34,6.07-13.75,35.13-13.75,35.13s29.36-6.11,35.7-12.17a15.88,15.88,0,0,0-21.95-23Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M1090.16,603.07c-2,8.54,7.55,37,7.55,37S1119,619,1121.06,610.41a15.88,15.88,0,0,0-30.9-7.34Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M1030.94,661.29c2.56,8.39,25.18,28.09,25.18,28.09s7.77-29,5.21-37.35a15.88,15.88,0,0,0-30.39,9.26Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M996.06,715.43c1.1,8.71,20.06,31.94,20.06,31.94s12.56-27.23,11.45-35.94a15.88,15.88,0,0,0-31.51,4Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M1119.53,665.3c-8.77-.32-33.6-17.13-33.6-17.13s26-14.93,34.77-14.61a15.88,15.88,0,1,1-1.17,31.74Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M1077.93,728.1c-8.27-2.93-26.94-26.4-26.94-26.4s29.29-6.47,37.55-3.54a15.88,15.88,0,1,1-10.61,29.94Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M1029.12,783.59c-8.64-1.49-31-21.47-31-21.47s27.77-11.32,36.41-9.83a15.88,15.88,0,1,1-5.4,31.3Z" transform="translate(-29.72 -56.36)" fill="#6c63ff"/><path d="M1061.39,750.72,1010,676.19s-1-18.45-4.32-22.76-.72-13.9-.72-13.9,3.6-5.27.48-5.75-.48-12.23-.48-12.23l-.24-18.69s2.88-18,.48-22.28a7.07,7.07,0,0,1,.24-7.67s2.88-10.31,0-12.94-2.16-18.7-1.44-31.4-5.05-19.89-5.05-21.81-19-20.61-19-22.28-12-8.63-19.21-10.55-10.81-3.35-10.57-4.31-11.29-4.79-11.29-4.79-10.09-.72-13.94-5.76-15.59-6.48-15.93-6.53c-.07-.33-.15-.67-.22-1s-.15-.72-.22-1.08c.91-1.53,1.75-3.09,2.51-4.7.23-.49.45-1,.66-1.46,4.21-.19,8.53-1.09,11.83-3.67a16.11,16.11,0,0,0,5.75-11.49,25.19,25.19,0,0,0-2.81-12.77c-2.1-4.32-5.19-8.79-4.13-13.47.47-2,1.68-3.8,2.3-5.78,1.17-3.75.09-7.87-1.73-11.35s-4.35-6.54-6.37-9.91a38.7,38.7,0,0,1-5.07-14c-.41-2.6-.57-5.34-1.88-7.63a14.21,14.21,0,0,0-4.21-4.25,42.07,42.07,0,0,0-25.82-7.83c-6.54.23-13.06,2-19.55,1.19-3.91-.48-7.64-1.87-11.42-3-8.06-2.38-17.35-3.36-24.37,1.25s-9.81,13.68-14.56,20.77c-4.2,6.28-10.36,11.54-13.56,18.18,0-.12.06-.25.1-.38a21.75,21.75,0,0,0-1.79,4.84c-1.22,5.22-.2,10.68,1.07,15.89.65,2.69,1.55,5.61,3.88,7.1s5.63,1.16,8.39,1.65c-.1.45-.22.91-.32,1.37a54.9,54.9,0,0,0,38.09,64c0,.49,0,1,0,1.46a36.33,36.33,0,0,1-.25,4.12h0s-24.15-5-30.64-1.6-19.22,6-21.14,7.9-6.72.48-11,11.75-4.8,22.76-10.33,28-8.4,8.87-8.64,12.71.72,4.79-1.45,6-5.28,6.23-4.32,8.15c0,0,1.2,4.79-2.64,7.18s-3.37,7.19-3.37,7.19-1.44,5.28-4.8,6.47-5.53,9.11-5.53,9.11L730.52,596,708.93,572.1a9.1,9.1,0,0,0-12.85-.66L685.48,581a20.94,20.94,0,0,0-10.61,6.32,27.35,27.35,0,0,0-5.49,8.18l-5.81,5.22A14.75,14.75,0,0,0,662.08,617l13.83,15.29.09.13c-5.23.66-9.85,2.34-13.38,5.45-20.65,18.21-20.9,35-17.77,42.65s29.3,37.15,29.3,37.15,15.21,19.77,37.17,30.29l0,0-.17.17c-.43.46-.86,1-1.28,1.5l-.36.46-.33.46-.39.58c-.11.15-.21.31-.31.47s-.28.45-.41.69l-.27.46c-.16.3-.33.61-.49.93l-.16.31c-.2.42-.4.85-.59,1.3-.07.16-.13.33-.2.49-.12.31-.25.63-.37,1s-.15.41-.22.62-.21.62-.31.94-.14.45-.2.67-.2.7-.29,1.06-.11.42-.17.65c-.13.55-.26,1.12-.37,1.72,0,.22-.08.45-.12.68q-.12.6-.21,1.23c-.05.29-.08.58-.12.87s-.1.79-.15,1.19l-.09.92c0,.44-.08.9-.11,1.36,0,.28,0,.56-.05.84,0,.76-.08,1.52-.09,2.32-.48,28,1.16,32.11,1.16,32.11s3.39,8.93,12.75,9.57a16.3,16.3,0,0,0,4.11-.22c12.49-2.16,41.79-7.19,52.12-5.27,6.21,1.15,17.71-.55,25.9-2.1l2.15-.41,1.5,4.76,4.75-1.3,4,2.33,2.55,1.46c4.74,16.08,24,10.6,24,10.6L843,826l46.36,1.2s10,6,16.41,7.88a15.24,15.24,0,0,0,2.33.51,105.21,105.21,0,0,0,12.92.24c3.55-.09,6.3-.24,6.3-.24s-.47-12.59-1.15-26.68c17.72-.74,33.43-1.85,42.94-3.52,24.76-4.35,35.09-26.86,38.89-38.89a113.19,113.19,0,0,1,2.43,14.93,106.74,106.74,0,0,0,3.85,12.94,43.73,43.73,0,0,0,5.28,9.58c18.26-6.23,7.21-15.57,3.36-19.65s2.65-7.43,2.65-7.43,5-3.35,4.56-6.47-.72-6.47,15.61-6.23S1061.39,750.72,1061.39,750.72Zm-253.66-153c.21,1.37,2.49,16.14,4.55,20,.43.82.6,3.73.54,7.89-9.68-.77-19.76-1.18-19.76-1.18a2.32,2.32,0,0,1,.52,1.23l-1.52-.34-2.21-.54,17.83-27.12Zm-35.32,56.2,16.75,2.66,1.41.22a55.11,55.11,0,0,0-.87,7.91c0,.25.38.55.92.9a21.57,21.57,0,0,0-.33,4c.27,1.33,8.1,4.19,17.08,6.57-.12.48-.24.94-.36,1.37h0c-7.93-4.17-20.43-6.12-21.87-9.22s-44-18-44-18-1.55-.82-4.23-2.12l11.2,2.12,3.08-.31A167.91,167.91,0,0,0,772.41,653.9Z" transform="translate(-29.72 -56.36)" fill="url(#c518dc33-18b9-48bc-b516-0f83ad79191e)"/><path d="M1006.71,761.15s-6.66,40.23-40.47,46.18-146.66,4.76-146.66,4.76-64.52-9.28-87.85-63.8S693.4,672.1,713.4,671.15s127.85,36.43,134,36.9S1012.66,625.2,1006.71,761.15Z" transform="translate(-29.72 -56.36)" fill="#434175"/><path d="M1006.71,761.15s-6.66,40.23-40.47,46.18-146.66,4.76-146.66,4.76-64.52-9.28-87.85-63.8S693.4,672.1,713.4,671.15s127.85,36.43,134,36.9S1012.66,625.2,1006.71,761.15Z" transform="translate(-29.72 -56.36)" opacity="0.05"/><path d="M704.07,805.9s3.37,8.88,12.64,9.51a16.43,16.43,0,0,0,4.07-.22c12.38-2.14,41.43-7.14,51.66-5.24,6.16,1.15,17.55-.55,25.66-2.08,5.4-1,9.34-2,9.34-2s-9.52-31.66-10.72-32.61-42.85-25.95-42.85-25.95l-33-2.37h-.1s-6.11.41-11.18,6.57c-3.49,4.21-6.48,11.13-6.68,22.47C702.45,801.85,704.07,805.9,704.07,805.9Z" transform="translate(-29.72 -56.36)" fill="#565387"/><path d="M704.07,805.9s3.37,8.88,12.64,9.51a135.54,135.54,0,0,1-9-13.08l.17-23.09c-1.47-17.29,6.62-28.36,13-34.27h-.1s-17.38,1.18-17.86,29S704.07,805.9,704.07,805.9Z" transform="translate(-29.72 -56.36)" opacity="0.05"/><path d="M847.2,755.43l30.71-24,48.33-47.62s-5.22-.25-13.09-.59c-2,1.25-7.45,5.18-7.65,10-.24,5.82-13.07.4-19.73,3.73s-39.28,45.08-45,44.81-10.23-2.9-12.62,1.15c0,.09-.11.17-.17.26Z" transform="translate(-29.72 -56.36)" opacity="0.1"/><path d="M709.6,751.53c1.09.53,2.19,1,3.32,1.52,23.34,10,52.14,31,54.29,34.76,1.3,2.32,18,12.46,30.89,20.06,5.4-1,9.34-2,9.34-2s-9.52-31.66-10.72-32.61-42.85-25.95-42.85-25.95l-33-2.37h-.1S714.67,745.37,709.6,751.53Z" transform="translate(-29.72 -56.36)" opacity="0.1"/><path d="M644.84,683.29c3.09,7.62,29,36.91,29,36.91s16.42,21.42,39.76,31.42,52.14,31,54.28,34.76c1.38,2.45,20,13.65,33.08,21.35l2.93,1.71,6.5,3.77,3.44,2s8-6.4,15.91-12.84,15.63-12.75,15.76-13.11c.23-.71,3.32-8.81,2.61-9.28-.37-.25-2-3.55-5-7.37a33.82,33.82,0,0,0-12.13-10c-11-5-15.71-16.38-15.71-16.38s-1-.76-2.63-1.76c-2.82-1.78-7.35-4.34-10.7-4.77-5.25-.66-15-11.37-15-11.37s-6.67-4.29-9.29-9.76c-2.5-5.22-39.42-30.58-42.84-32.92l89.51,57.48,21.42,13.77,30.71-24,48.34-47.62s-6.5-.32-16-.72c-23.49-1-65.21-2.61-70.48-1.42a40.17,40.17,0,0,1-13.1.85s-11.88.54-19.74-3.61-20.25-6.09-21.68-9.16-43.57-17.85-43.57-17.85-57.37-30.47-77.85-12.37S641.74,675.68,644.84,683.29Z" transform="translate(-29.72 -56.36)" fill="#434175"/><path d="M829.82,508.55l7.38,24.52,9.52,55.23,35,2.38,10.13-16.8L902,557.11s6.3-22.32,10.83-43.91c4-19.1,6.62-37.64,2.26-39.65-3.86-1.79-6.4-8.22-8-15.14-.21-.85-.4-1.72-.58-2.59a134.62,134.62,0,0,1-2.32-17.75s-73.33-3.8-63.09,26.43a48.18,48.18,0,0,1,2.76,16.08,38.23,38.23,0,0,1-.25,4.09A34.3,34.3,0,0,1,829.82,508.55Z" transform="translate(-29.72 -56.36)" fill="#ee8e9e"/><path d="M814.58,504.5l2.62,41.66,5.95,35.47,6.67,16.43,5.95,89.88s57.41,6.64,71.37-.12a6.14,6.14,0,0,0,2.53-2C926.53,660.39,921,586.63,921,586.63L927.43,539l-4.29-24.72-10.35-1.1-8-.85s-1.8,2.22-4.4,5.65c-7.06,9.32-20,27.65-19.17,35.3,1.18,10.48-1.43,21.19-5.48,22.86s-7.38,4.52-8.09,1.67-1.43-3.57-.72-7.62-3.1-16.43-3.1-16.43-6.42-14.52-6-20.71-.71-13.34-2.62-15-4.52-3.34-2.38-11-9.39-22.45-9.39-22.45Z" transform="translate(-29.72 -56.36)" fill="#e3e8f4"/><path d="M890.41,608.55l2.38,71.19,13.75,7.62a6.15,6.15,0,0,0,2.53-2c16.87-25.47,11.34-99.22,11.34-99.22l6.43-47.62-4.29-24.71-10.36-1.1c4-19.1,6.62-37.64,2.27-39.65-3.87-1.79-6.41-8.22-8.06-15.14h0L899,508.32s.62,4.54.84,9.22c.17,3.48.11,7-.6,8.87-1.67,4.29-.48,11.91-.48,11.91-4.29,7.56-6.43,21.57-7.48,35.1C889.87,591.41,890.41,608.55,890.41,608.55Z" transform="translate(-29.72 -56.36)" opacity="0.1"/><path d="M906.63,456.82s12,1.49,15.8,6.49S936.24,469,936.24,469s11.43,3.81,11.19,4.76,3.33,2.39,10.48,4.29,19,8.81,19,10.48,18.81,20.23,18.81,22.14,5.72,9,5,21.66-1.43,28.57,1.43,31.19,0,12.86,0,12.86A7,7,0,0,0,1002,584c2.38,4.29-.47,22.15-.47,22.15l.23,18.57s-2.62,11.66.48,12.14-.48,5.71-.48,5.71-2.62,9.53.72,13.81,4.28,22.62,4.28,22.62l51,74s.72,13.57-15.47,13.33-16,3.1-15.48,6.19-4.52,6.43-4.52,6.43-6.43,3.33-2.62,7.38,14.76,13.33-3.33,19.52a43.16,43.16,0,0,1-5.24-9.52,107.72,107.72,0,0,1-3.81-12.85s-1.67-18.1-5-20.48-2.86-13.81-2.86-13.81,4.76-9.28-1.9-13.09S894.1,678.77,894.1,678.77l-2.38-71.19s-1.67-52.61,8.33-70.23c0,0-1.19-7.62.48-11.9s-.24-18.1-.24-18.1Z" transform="translate(-29.72 -56.36)" fill="#565387"/><path d="M844.23,485.38s-23.93-4.93-30.36-1.6-19,6-21,7.86-6.67.48-10.95,11.67-4.77,22.61-10.24,27.85-8.33,8.81-8.57,12.62.71,4.76-1.43,6-5.24,6.19-4.29,8.1S807,601.63,807,601.63s2.39,16,4.53,20-2.38,59.76-7.14,63.57,32.14,3.46,32.14,3.46,1.66-36.55,3.09-38.46-1-41-1-41-.24-33.33,2.86-42.14S844.23,529,844.23,529s2.74-17.57,6.07-21.67S844.23,485.38,844.23,485.38Z" transform="translate(-29.72 -56.36)" opacity="0.1"/><path d="M843.52,484.67s-23.94-4.93-30.37-1.6-19,5.95-20.95,7.86-6.66.47-11,11.66-4.76,22.62-10.24,27.86-8.33,8.81-8.57,12.62.72,4.76-1.42,5.95-5.24,6.19-4.29,8.09,49.52,43.81,49.52,43.81,2.38,16,4.52,20-2.38,59.75-7.14,63.56,32.14,3.46,32.14,3.46,1.67-36.55,3.1-38.45-1-41-1-41-.23-33.33,2.86-42.14,2.75-38.1,2.75-38.1,2.74-17.57,6.06-21.66S843.52,484.67,843.52,484.67Z" transform="translate(-29.72 -56.36)" fill="#565387"/><path d="M841,464.5a48.18,48.18,0,0,1,2.76,16.08,54.63,54.63,0,0,0,62.65-24.76,134.62,134.62,0,0,1-2.32-17.75S830.77,434.27,841,464.5Z" transform="translate(-29.72 -56.36)" opacity="0.1"/><path d="M804.82,426.88A54.52,54.52,0,1,0,806,415.55,54.53,54.53,0,0,0,804.82,426.88Z" transform="translate(-29.72 -56.36)" fill="#ee8e9e"/><path d="M769.82,553.06l-13.09,4.05s1.19,4.76-2.62,7.14-3.33,7.15-3.33,7.15-1.43,5.23-4.76,6.42-5.48,9-5.48,9l-10.95,12.62s-4.05,3.33-3.33,5-4.29,2.14-4.29,2.14L724.59,649l22.62,4.29,14-1.43,11.43-4.29,10-6L787.2,630l20-30.47Z" transform="translate(-29.72 -56.36)" fill="#565387"/><path d="M725.3,610s-29-41.91-50.71-19.29,8.81,59.28,15.95,58.09,41.19-3.09,41.19-3.09Z" transform="translate(-29.72 -56.36)" fill="#ee8e9e"/><rect x="671.34" y="583.93" width="61.42" height="69.8" rx="12.62" ry="12.62" transform="translate(-263.46 573.17) rotate(-42.05)" fill="#30374e"/><rect x="671.34" y="583.93" width="61.42" height="69.8" rx="12.62" ry="12.62" transform="translate(-263.46 573.17) rotate(-42.05)" opacity="0.1"/><rect x="672.16" y="580.48" width="61.42" height="69.8" rx="12.62" ry="12.62" transform="translate(-260.94 572.83) rotate(-42.05)" fill="#30374e"/><circle cx="672.39" cy="560.74" r="13.57" fill="#6c63ff"/><circle cx="672.39" cy="560.74" r="13.57" opacity="0.1"/><circle cx="673.15" cy="559.02" r="13.57" fill="#6c63ff"/><path d="M706.5,618.77c-.24,31.43,64.76,38.09,64.76,38.09l16.6,2.64,7.44,1.18L798.4,630s-3.41-.51-7.67-1.5c-6.29-1.47-14.44-4-16.15-7.55C771.73,615,706.73,587.35,706.5,618.77Z" transform="translate(-29.72 -56.36)" fill="#ee8e9e"/><path d="M806,415.55a6.47,6.47,0,0,1,4,1.78c1.84,1.95,1.94,5.41,4.33,6.61a4.92,4.92,0,0,0,2.84.33c6.33-.9,10-8,16.07-10,3.46-1.12,7.27-.39,10.65.91a7.93,7.93,0,0,1,3.53,2.27c2,2.63.61,6.5,1.55,9.69,1.31,4.42,6.59,6.18,11.16,6.76s9.72.9,12.77,4.35c2.16,2.45,2.71,6,2.27,9.21a7.29,7.29,0,0,0,0,3.41c1.26,3.57,7.44,3,9.05.22,1.18-2.05.82-3.75,3.6-4.32,1.88-.39,4.09.4,5.83,1a42.71,42.71,0,0,0,15.08,2.32A54.53,54.53,0,1,0,806,415.55Z" transform="translate(-29.72 -56.36)" opacity="0.1"/><path d="M875.14,449.43a7.29,7.29,0,0,1,0-3.41c.43-3.23-.11-6.77-2.27-9.21-3-3.45-8.2-3.78-12.77-4.35s-9.85-2.33-11.16-6.75c-.94-3.19.48-7.07-1.55-9.7a7.8,7.8,0,0,0-3.52-2.26c-3.39-1.31-7.2-2-10.66-.92-6.07,2-9.74,9.12-16.07,10a4.92,4.92,0,0,1-2.84-.33c-2.39-1.2-2.49-4.66-4.33-6.6-2.89-3.06-8.38-1.09-11.92-3.36-2.31-1.49-3.2-4.38-3.84-7.05-1.26-5.18-2.27-10.61-1.06-15.79,2.07-8.86,10-14.93,15-22.49,4.71-7.05,7.35-16,14.43-20.64s16.17-3.61,24.15-1.24c3.74,1.11,7.44,2.49,11.31,3,6.44.79,12.9-1,19.38-1.18a41.62,41.62,0,0,1,25.59,7.77,14.16,14.16,0,0,1,4.18,4.23c1.29,2.28,1.46,5,1.85,7.58a38.75,38.75,0,0,0,5,13.93c2,3.35,4.51,6.39,6.32,9.85s2.87,7.55,1.71,11.27c-.61,2-1.82,3.73-2.27,5.74-1.06,4.65,2,9.09,4.09,13.38a25.1,25.1,0,0,1,2.78,12.69,16,16,0,0,1-5.7,11.41c-3.37,2.64-7.8,3.52-12.07,3.66a42.78,42.78,0,0,1-15.38-2.31c-1.75-.6-4-1.39-5.83-1-2.78.57-2.42,2.27-3.6,4.32C882.57,452.47,876.4,453,875.14,449.43Z" transform="translate(-29.72 -56.36)" fill="#434175"/><path d="M845.77,756.86l30.71-24,48.34-47.62s-6.5-.32-16-.72c-1.73,1.76-3.27,4-3.37,6.5-.24,5.82-13.07.41-19.73,3.74s-39.28,45.07-45,44.8-10.23-2.9-12.62,1.15a2.46,2.46,0,0,1-.17.27,6.77,6.77,0,0,1-3.63,2.15Z" transform="translate(-29.72 -56.36)" opacity="0.1"/><path d="M783.87,755.19l15.43,49.26,2.42,7.74,7.35-2,16.2-4.45,72.16-19.82s13.56-.18,26-6.93c13.75-7.48,29.26-11.24,44.84-9.78,9.54.89,20.15-3.22,29-19.48,0,0,20-59-30.48-76s-52.88,9-52.88,9-.26.14-.68.42c-2,1.25-7.45,5.18-7.65,10-.24,5.82-13.07.4-19.73,3.73s-39.28,45.08-45,44.81-10.23-2.9-12.62,1.15c0,.09-.11.17-.17.26-1.76,2.43-7.06,3-10.57,3.09-1.91.06-3.3,0-3.3,0l-.45.14L810,747.37Z" transform="translate(-29.72 -56.36)" fill="#434175"/><path d="M787.86,659.5l7.44,1.18L798.4,630s-3.41-.51-7.67-1.5C791.86,632.75,789.3,649.32,787.86,659.5Z" transform="translate(-29.72 -56.36)" opacity="0.1"/><path d="M982.54,516s22.14-6.43,16.66,56.43S952.78,675,952.78,675s-47.14,20.71-68.33,17.38-36.66-4-36.66-4a53.79,53.79,0,0,0-21.43-5.71c-11.91-.48-36.9-7.86-37.38-10.24s6.19-37.38,3.33-40c0,0,33.33,1.37,36.67,3.78s8.09.68,11.66,0,14.53-10.21,36.19-1.87c0,0,7.38.71,10.24-1.19s7.44-.48,7.44-.48S899,631,899.69,630s6.42,0,6.42,0a2.54,2.54,0,0,0,3.58-1.67,15.56,15.56,0,0,1,3.33-5.23s6.43-36.19,18.57-49.76c0,0,3.57-3.1,2.62-6.91S954,508.37,982.54,516Z" transform="translate(-29.72 -56.36)" opacity="0.1"/><path d="M982,511.16s22.14-6.43,16.67,56.43S952.19,670.2,952.19,670.2s-47.14,20.71-68.33,17.38-36.66-4.05-36.66-4.05a53.72,53.72,0,0,0-21.43-5.71c-11.9-.48-36.9-7.86-37.38-10.24s6.19-37.38,3.34-40c0,0,33.33,1.37,36.66,3.78s8.1.68,11.67,0,14.52-10.2,36.19-1.87c0,0,7.38.71,10.23-1.19s7.45-.48,7.45-.48,4.46-1.67,5.17-2.62,6.43,0,6.43,0a2.53,2.53,0,0,0,3.57-1.66,15.54,15.54,0,0,1,3.33-5.24s6.43-36.19,18.57-49.76c0,0,3.57-3.1,2.62-6.9S953.38,503.54,982,511.16Z" transform="translate(-29.72 -56.36)" fill="#565387"/><path d="M810,747.37l31.44,38c.12-.11.2-.19.2-.22.24-.72,3.33-8.81,2.62-9.29s-6.19-12.38-17.14-17.38c-6.69-3-11.07-8.49-13.46-12.25Z" transform="translate(-29.72 -56.36)" opacity="0.1"/><path d="M810.43,813.21l3.44,2s8-6.4,15.91-12.84,15.63-12.75,15.76-13.11c.23-.71,3.32-8.81,2.61-9.28-.37-.25-2-3.55-5-7.37-21.32-6-7.75,8.83-5.94,9.51,0,0-26-6-27.38,22.31A33.36,33.36,0,0,0,810.43,813.21Z" transform="translate(-29.72 -56.36)" opacity="0.1"/><path d="M836.72,825.19l4.53,2.62,46,1.19s9.86,6,16.26,7.82a13.93,13.93,0,0,0,2.31.51,103.27,103.27,0,0,0,12.8.24c3.52-.09,6.25-.24,6.25-.24s-2.18-58-3.82-64c-.78-2.92-4.63-2.28-8.43-.82a55.19,55.19,0,0,0-8.23,4.17s-19.52,1.89-22.62,3.57-11.9-1-17.38,0-15.23-6.45-15.23-6.45c-26.67-8.8-11.67,7.62-9.77,8.34,0,0-25.94-6-27.37,22.31S836.72,825.19,836.72,825.19Z" transform="translate(-29.72 -56.36)" fill="#565387"/><path d="M903.15,802.81c.5,12,9.85,26.89,15.42,34.76,3.52-.09,6.25-.24,6.25-.24s-2.18-58-3.82-64c-.78-2.92-4.63-2.28-8.43-.82C908,781.11,902.75,793.14,903.15,802.81Z" transform="translate(-29.72 -56.36)" fill="#565387"/><path d="M903.15,802.81c.5,12,9.85,26.89,15.42,34.76,3.52-.09,6.25-.24,6.25-.24s-2.18-58-3.82-64c-.78-2.92-4.63-2.28-8.43-.82C908,781.11,902.75,793.14,903.15,802.81Z" transform="translate(-29.72 -56.36)" opacity="0.1"/><path d="M895.29,804.4c3.16,11.58,3.13,24.57,8.17,32.42a13.93,13.93,0,0,0,2.31.51,103.27,103.27,0,0,0,12.8.24c3.52-.09,6.25-.24,6.25-.24s-2.18-58-3.82-64c-.78-2.92-4.63-2.28-8.43-.82a55.19,55.19,0,0,0-8.23,4.17S891.25,789.58,895.29,804.4Z" transform="translate(-29.72 -56.36)" opacity="0.05"/><path d="M736.77,686.94s22.82,7.41,42.16,33.73Z" transform="translate(-29.72 -56.36)" opacity="0.1"/><g opacity="0.1"><path d="M922.23,401.26a4.67,4.67,0,0,1-.14.5,16.15,16.15,0,0,1-.79,2A14.93,14.93,0,0,1,922.23,401.26Z" transform="translate(-29.72 -56.36)"/><path d="M793.11,389.71a21.46,21.46,0,0,1,1.77-4.81c-.12.41-.25.82-.35,1.24-1.21,5.18-.2,10.61,1.06,15.79.65,2.67,1.53,5.56,3.84,7.05,3.55,2.27,9,.29,11.92,3.35,1.84,1.95,1.94,5.41,4.34,6.61a4.91,4.91,0,0,0,2.84.33c6.32-.9,10-8,16.07-10,3.46-1.12,7.26-.39,10.65.92a7.8,7.8,0,0,1,3.52,2.26c2,2.63.61,6.51,1.55,9.69,1.31,4.42,6.59,6.18,11.16,6.75s9.72.9,12.77,4.36c2.16,2.44,2.71,6,2.27,9.21a7.42,7.42,0,0,0,0,3.41c1.26,3.57,7.44,3,9,.22,1.18-2.05.83-3.75,3.61-4.32,1.87-.39,4.08.4,5.82,1a42.78,42.78,0,0,0,15.38,2.31c4.27-.15,8.71-1,12.07-3.66a14,14,0,0,0,3.7-4.5A15.14,15.14,0,0,1,921,445c-3.36,2.64-7.79,3.52-12.07,3.66a42.69,42.69,0,0,1-15.37-2.31c-1.75-.6-4-1.39-5.83-1-2.78.57-2.43,2.27-3.6,4.32-1.62,2.82-7.79,3.35-9.06-.22a7.42,7.42,0,0,1,0-3.41c.44-3.23-.1-6.77-2.26-9.21-3.06-3.45-8.21-3.78-12.78-4.35s-9.85-2.33-11.15-6.75c-.95-3.19.48-7.07-1.55-9.7a7.88,7.88,0,0,0-3.53-2.26c-3.39-1.31-7.19-2-10.65-.92-6.08,2-9.75,9.12-16.07,10a4.91,4.91,0,0,1-2.84-.33c-2.4-1.2-2.5-4.66-4.34-6.6-2.89-3.06-8.37-1.09-11.91-3.36-2.32-1.49-3.2-4.38-3.85-7.05C792.9,400.32,791.89,394.89,793.11,389.71Z" transform="translate(-29.72 -56.36)"/></g><path d="M925.92,580.26c-4.36,5.89-9.34,11.34-13.2,17.57s-6.59,13.5-5.78,20.78c4-4.1,5.82-9.76,8.34-14.9,4.26-8.7,10.64-16.08,16-24.08,1-1.53,7.61-10.35,4.28-10.77C932.82,568.51,927.41,578.25,925.92,580.26Z" transform="translate(-29.72 -56.36)" opacity="0.1"/>
                  </svg>
                  <div
                    class="text-purple-500 font-semibold tracking-wider text-center text-xs sm:text-sm pt-1"
                  >
                    lanceer
                  </div>
                </div>
              </div>
                
            </div>
          </div>

        </div>

      </template>


      <template #fallback>

        <div class="fixed inset-0 p-0 flex items-center justify-center">

          <div class="mx-auto flex items-center justify-center ">
            <div 
              class="text-pink-800 text-2xl sm:text-4xl md:text-6xl"
            >
              Loading 
            </div>

            <svg 
              viewBox="0 0 100 100" 
              preserveAspectRatio="xMidYMid"
              class="animate-spin h-16 w-16 sm:h-24 sm:w-24 md:h-32 md:w-32"
            >
              <g transform="rotate(0 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                  <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.9166666666666666s" repeatCount="indefinite"></animate>
                </rect>
              </g><g transform="rotate(30 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                  <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.8333333333333334s" repeatCount="indefinite"></animate>
                </rect>
              </g><g transform="rotate(60 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                  <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.75s" repeatCount="indefinite"></animate>
                </rect>
              </g><g transform="rotate(90 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                  <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.6666666666666666s" repeatCount="indefinite"></animate>
                </rect>
              </g><g transform="rotate(120 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                  <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5833333333333334s" repeatCount="indefinite"></animate>
                </rect>
              </g><g transform="rotate(150 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                  <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5s" repeatCount="indefinite"></animate>
                </rect>
              </g><g transform="rotate(180 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                  <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.4166666666666667s" repeatCount="indefinite"></animate>
                </rect>
              </g><g transform="rotate(210 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                  <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.3333333333333333s" repeatCount="indefinite"></animate>
                </rect>
              </g><g transform="rotate(240 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                  <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.25s" repeatCount="indefinite"></animate>
                </rect>
              </g><g transform="rotate(270 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                  <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.16666666666666666s" repeatCount="indefinite"></animate>
                </rect>
              </g><g transform="rotate(300 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                  <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.08333333333333333s" repeatCount="indefinite"></animate>
                </rect>
              </g><g transform="rotate(330 50 50)">
                <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                  <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animate>
                </rect>
              </g>
            </svg>
          </div>

        </div>

      </template>

    </Suspense>

    <div 
      class="fixed right-0 bottom-0 transition ease-in-out duration-1000 hidden sm:block"
      ref="thereismore"
    >
      <div class="bg-gray-50 opacity-75 flex items-end justify-end rounded-full">
        <span class="flex items-end justify-end p-2 transition ease-in-out duration-150 animate-bounce">
          <svg class="h-6 w-6 text-gray-900" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M16 17l-4 4m0 0l-4-4m4 4V3"></path>
          </svg>
        </span>
      </div>
    </div>
    
  </div>
  
</template>

<script>
import Cards from '@/components/Cards.vue'
import AOS from 'aos'
import 'aos/dist/aos.css'
import { ref, onMounted } from 'vue';

export default {
  name: 'App',
  
  setup() {
    AOS.init({
      once: true,
      easing: 'ease-in-out',
      mirror: true,
    });
    
    // const test = () => (console.log('test'))

    const thereismore = ref(null);

    onMounted(() => {
      // console.log(thereismore.value);
      setTimeout(
        () => {
          thereismore.value.classList.remove('sm:block')
        },
        2000
      );
    })

    return {
      // test,
      thereismore,
    }
  },

  components: {
    Cards,
  },
}
</script>

<style>
#app {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}
</style>
